/* Full Page Background */
.container {
    display: block;
    /*background: linear-gradient(135deg, #2c003e, #000000);  Purple to Black Gradient */
    color: white;
    margin: 0px;
    padding: 0px;
  }

.nav{
  display: flex;
  margin: 0px;
}

.err{
  display: block;
  margin-top: 0%;
}

.filter{
  display: block;
  margin-top: 10%;
}

  /* Main Content */
  .content {
    margin-top: 0%; /* Space from navbar */
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #d9aaff;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .filter {
      margin-top: 40%;
    }
    .err{
      display: block;
      margin-top: 3%;
    }
    .content{
      margin-top: 3%;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .subtitle {
      font-size: 1rem;
    }
  }